################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CsharpLearning
/CsharpLearning/bin/Debug/netcoreapp3.1
/CsharpLearning/obj
